<section class="admin section blue">

<div class="ui two page stackable column fluid grid">

  <div class="five wide column">

    <div class="ui form attached fluid segment hide" id="upload_area">
      <div class="field">
          <div class="drop zone fluid" id="drop_zone">
            <i class="file icon"></i> Drop file here
          </div>
      </div>

      <div class="field">
        <button class="ui left labeled icon fluid black button" id="close_upload"><i class="remove icon"></i><%= t(:close) %></button>
      </div>
    </div>

      <form class="ui form attached fluid segment" action="/admin/save" method="POST">
        <% if !@episode.id.nil? %><input type="hidden" name="id" value="<%= @episode.id %>" /><% end %>

        <div class="<%= 'error' if !@errors.nil? && @errors.messages.include?(:title) %> field">
          <div class="ui icon action input">

            <input type="text" name="title" value="<%= @episode.title %>" placeholder="<%= t(:title) %> . . ."/>
            <div class="ui dropdown small purple button"><i class="dropdown icon"></i>
              <span id='titlelang'><%= @locale %></span><div class="menu">
              <div class="langitem item">FA</div>
              <div class="langitem item">EN</div>
            </div>
            </div>
          </div>
          <% if !@errors.nil? && @errors.messages.include?(:title) %>
              <div class="ui red pointing above fluid ui label"><%= @errors['title'].first %></div>
            <% end %>
        </div>

        <div class="<%= 'error' if !@errors.nil? && @errors.messages.include?(:episode_number) %> field">
          <div class="ui icon input">
            <input type="text" name="episode" value="<%= @episode.episode_number %>" placeholder="<%= t(:episode) %> . . ."/>
              <i class="asterisk icon"></i>
          </div>

          <% if !@errors.nil? && @errors.messages.include?(:episode_number) %>
            <div class="ui red pointing above fluid ui label"><%= @errors['episode_number'].first %></div>
          <% end %>
        </div>

        <div class="<%= 'error' if !@errors.nil? && @errors.messages.include?('mp3_url'.to_sym) %> field">
          <div class="ui icon input">
            <input type="text" name="mp3_url" value="<%= @episode.mp3_url %>" placeholder="<%= t(:mp3url) %>"/>
            <i class="asterisk icon"></i>
          </div>
          <% if !@errors.nil? && @errors.messages.include?('mp3_url'.to_sym) %>
          <div class="ui red pointing above fluid ui label"><%= @errors['mp3_url'].first %></div>
          <% end %>
        </div>

        <div class="<%= 'error' if !@errors.nil? && @errors.messages.include?('ogg_url'.to_sym) %> field">
          <div class="ui icon input">
            <input type="text" name="ogg_url" value="<%= @episode.ogg_url %>" placeholder="<%= t(:oggurl) %>"/>
              <i class="asterisk icon"></i>
          </div>

          <% if !@errors.nil? && @errors.messages.include?('ogg_url'.to_sym) %>
          <div class="ui red pointing above fluid ui label"><%= @errors['ogg_url'].first %></div>
          <% end %>
        </div>

        <div class="<%= 'error' if !@errors.nil? && @errors.messages.include?(:tags) %> field">
          <input type="text" name="tags" value="<%= @episode.tags.join(',') unless @episode.tags.nil? %>" placeholder="<%= t(:tags) %>"/>
          <% if !@errors.nil? && @errors.messages.include?(:tags) %>
          <div class="ui red pointing above fluid ui label"><%= @errors['tags'].first %></div>
          <% end %>
        </div>

        <div class="field">
          <button onclick="$('form').submit()' id="#savebtn" class="ui big fluid green left labeled icon button"><i class="save icon"></i> <%= t(:publish) %></button>
        </div>

      </form>
      <% unless @errors.nil? %>
        <div class="ui bottom attached error message">
          <i class="icon help"></i><%= t(:fix_form) %>
        </div>
      <% end %>
      <br />
      <a href="/signout/" class="ui fluid red left labeled icon big button"><i class="off icon"></i> <%= t(:signout) %></a>
    </div>


  <div class="eleven wide column">

    <div id="msg" class="ui <% if defined? @flash and !@flash.nil? %><%= @flash[:type] %><% else %>hide<% end %> message">
      <div class="header">
        <% if defined? @flash and !@flash.nil? %>
          <%= @flash[:msg] %>
        <% end %>

      </div>
    </div>

    <table class="ui small table segment">
      <thead>
          <tr>
            <th class="one wide"></th>
            <th><%= t(:title) %></th>
            <th class="one wide"><%= t(:episode) %></th>
            <th style="text-align: center" class="one wide">MP3</th>
            <th style="text-align: center" class="one wide">OGG</th>
            <th style="text-align: center" class="one wide"><%= t(:downloads) %></th>
            <th style="text-align: center" class="two wide"><%= t(:data_file) %></th>
          </tr>
      </thead>
      <tbody>
        <% @episodes.each do |ep| %>
          <tr id="<%= ep.id %>">
            <td><a data-url="/admin/<%= ep.id %>/remove" href="#" class="removebtn ui orange icon link"><i class=" orange remove icon"></i></a></td>
            <td><a href="/admin/<%= ep.id %>/edit" class="ui link editbtn" data-id="<%= ep.id %>"><i class="edit icon"></i> <%= ep.title %></a></td>
            <td>#<%= ep.episode_number %></td>
            <td style="text-align: center"><a class="ui icon link" href="<%= ep.mp3_url %>"><i class="external url icon"></i></a></td>
            <td style="text-align: center"><a class="ui icon link" href="<%= ep.ogg_url %>"><i class="external url icon"></i></a></td>
            <td style="text-align: center"><div class="ui teal label"><%= ep.downloads %></div></td>
            <td style="text-align: center"><% unless ep.details.empty? %><i class="large check icon"></i><% end %> <a data-id="<%= ep.id %>" class="upbutton"><i class="large upload icon"></i></a></td>
            <div class="hidden" style="display: none;"><%= ep.tags.join(",") %></div>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="ui center aligned segment">
      <h3>No Comments</h3>
    </div>

  </div>
</div>

</section>
<div class="hidden">
  <span id="suc"><%= t(:success) %></span>
  <span id="error"><%= t(:error) %></span>
  <span id="format"><%= t(:format_error) %></span>
</div>
