<% content_for :header do %>
  <% unless @episode.nil? %>
    <meta name="twitter:title" content="<%= @episode.title %>">

    <meta name="twitter:url" content="http://www.radioboot.com/episodes/<%= @episode.id %>">
    <meta name="twitter:description" content="RadioBoot Episode <%= @episode.episode_number %>  about <%= @episode.tags.join(",")  %>">
    <meta name="twitter:image:src" content="http://www.radioboot.com<%= image_path('logo.png') %>">

    <meta content="RadioBoot.com" property="og:site_name">
    <meta content="<%= @episode.title %>" property="og:title">
    <meta content="article" property="og:type">

    <meta content="RadioBoot Episode <%= @episode.episode_number %>  about <%= @episode.tags.join(",")  %>" property="og:description">

    <meta content="http://www.radioboot.com/episodes/<%= @episode.id %>" property="og:url">
    <meta content="<%= @episode.published_at %>" property="article:published_time">
    <meta content="http://www.radioboot.com/" property="article:author">
    <meta content="http://www.radioboot.com<%= image_path('logo.png') %>" property="og:image">

    <meta content="<%= @episode.tags.join(',') %>" property="article:section">
    <meta content="<%= @episode.tags.join(',') %>" property="article:tag">
  <% end %>
<% end %>

<section class="blue player section" id="listen">
  <div class="ui page stackable grid">
    <div class="row">
      <div class="center aligned column">
        <div class="playercontainer">
          <% unless @episode.nil? %>
            <h2>#<%= @episode.episode_number %> <span><%= @episode.title %></span></h2>
            <audio class="audioplayer" src="<%= @episode.ogg_url %>"></audio>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="description">
          <div class="ui two column stackable grid">
            <div class="four wide column">
              <div class="ui vertical pointing menu" id="episode_menu">



                <% unless @episode.nil? %>

                  <div class="ui dropdown purple item">
                    <i class="download disk icon"></i> <%= t(:download) %><div class="menu">
                      <a href="<%= @episode.mp3_url %>" class="item"><i class="cloud download icon"></i> <%= t(:mp3version) %></a>
                      <a href="<%= @episode.ogg_url %>" class="item"><i class="download cloud icon"></i> <%= t(:oggversion) %></a>
                    </div>
                  </div>

                  <div class="ui dropdown purple item">
                    <%= t(:share) %> <i class="heart icon"></i>
                    <div class="menu">
                      <a href="https://twitter.com/intent/tweet?source=Radio_Boot&text=<%= url_encode(@episode.title) %>&url=<%= url_encode("http://www.radioboot.com/episodes/#{@episode.id}/") %>" class="item"><i class="large twitter icon"></i> <%= t(:twitter) %></a>
                      <a href="http://www.facebook.com/sharer.php?u=<%= url_encode("http://www.radioboot.com/episodes/#{@episode.id}/") %>&t=<%= url_encode(@episode.title) %>" class="item"><i class="large facebook icon"></i> <%= t(:facebook) %></a>
                      <a href="https://plus.google.com/share?text=<%= url_encode(@episode.title) %>&url=<%= url_encode("http://www.radioboot.com/episodes/#{@episode.id}/") %>" class="item"><i class="large google plus icon"></i> <%= t(:googleplus) %></a>
                      <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= url_encode("http://www.radioboot.com/episodes/#{@episode.id}/") %>&title=<%= url_encode(@episode.title) %>&source=<%= url_encode('http://www.radioboot.com') %>" class="item"><i class="large linkedin icon"></i> <%= t(:linkedin) %></a>

                    </div>
                  </div>
                  <div id="auto_rotate" class="item" style="display: none;">
                    <button class="ui small left fluid labeled icon red button"> <i class="refresh icon"></i> <%= t(:auto_rotate) %></button>
                  </div>

                <% end %>
              </div>


            </div>

            <div class="twelve wide column">
              <div class="ui segment titles" id="desc">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
        <div class="four wide column"></div>
        <div class="twelve wide column">
          <div class="ui segment">

            <div id="disqus_thread"></div>
            <script type="text/javascript">
             /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
             var disqus_shortname = 'radioboot'; // required: replace example with your forum shortname
             var disqus_identifier = '<%= @episode.id %>';
             var disqus_title = '<%= @episode.title %> ';
             var disqus_url = 'http://www.radioboot.com/episodes/<%= @episode.id %>/';

             /* * * DON'T EDIT BELOW THIS LINE * * */
             (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>





          </div>
        </div>
    </div>


    <div class="row"></div>
    <div class="row"></div>


  </div>
</section>



<% content_for :tmp do %>
  <script>
  <% unless @episode.nil? %>
    <% require 'json' %>
   var JSON_DETAILS = <%= JSON.generate(@episode.details) %>;
   <% else %>
   var JSON_DETAILS = undefined;
  <% end %>
   prepare_details();
  </script>
<% end %>
