<% content_for :header do %>
  <% unless @episode.nil? %>
    <meta name="twitter:title" content="<%= @episode.title %>">

    <meta name="twitter:url" content="http://www.radioboot.com/podcasts/<%= @episode.id %>">
    <meta name="twitter:description" content="RadioBoot Episode <%= @episode.episode_number %>  about <%= @episode.tags.join(",")  %>">
    <meta name="twitter:image:src" content="http://www.radioboot.com<%= image_path('logo.png') %>">

    <meta content="RadioBoot.com" property="og:site_name">
    <meta content="<%= @episode.title %>" property="og:title">
    <meta content="article" property="og:type">

    <meta content="RadioBoot Episode <%= @episode.episode_number %>  about <%= @episode.tags.join(",")  %>" property="og:description">

    <meta content="http://www.radioboot.com/podcasts/<%= @episode.id %>" property="og:url">
    <meta content="<%= @episode.published_at %>" property="article:published_time">
    <meta content="http://www.radioboot.com/" property="article:author">
    <meta content="http://www.radioboot.com<%= image_path('logo.png') %>" property="og:image">

    <meta content="<%= @episode.tags.join(',') %>" property="article:section">
    <meta content="<%= @episode.tags.join(',') %>" property="article:tag">
  <% end %>
<% end %>

<section class="blue player section">
  <div class="ui page stackable grid">
    <div class="row">
      <div class="center aligned column">
        <div class="playercontainer">
            <h2>#<%= @episode.episode_number %> <span><%= @episode.title %></span></h2>
            <audio class="audioplayer" src="<%= @episode.ogg_url %>"></audio>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="description">
          <div class="ui two column stackable grid">
            <div class="four wide column">
              <div class="ui vertical pointing menu">
                <a class="active item">
                  Home
                </a>
                <a class="item">
                  Messages
                </a>
                <a class="item">
                  Friends
                </a>
              </div>
              <div class="ui secondary center aligned menu">
                <a href="#" class="item"><i class="large twitter icon"></i></a>
                <a href="#" class="item"><i class="large facebook icon"></i></a>
                <a href="#" class="item"><i class="large google plus icon"></i></a>
              </div>

            </div>
            <div class="twelve wide column">
              <div class="ui segment titles">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
