<section class="head">
  <header>
    <div class="">

      <div class="row">
        <div class="column6">
          <nav class="menu text-left">
            <ul>
              <li><a class="js-menu-trigger" href="#"><i class="fa fa-bars fa-lg"></i> </a></li>

            </ul>
          </nav>
        </div>

        <div class="column6  title">
          <h1 class="logo">RadioBoot</h1>
        </div>
      </div>


      <div class="row bigtitle center">

          <h2>LOGO</h2>
          <h1>RadioBoot</h1>

      </div>
    </div>
  </header>
</section>

<section class="content graybg">
  <div class="">
    <div class="row">
      <div class="column5 shift1">
        <div class="row">

          <a href="#">
          <div class="column12 box green">
            <div class="body">
              <h2 class="center">#0</h2>
              <h3>some shit about latest episode</h3>
              <br />
              <br />
              <br />
            </div>
          </div>
          </a>


        </div>
        <div class="row hgutter">
          <div class="column12 box blue text-right">
            <div class="body">
              <p><%= t(:subscribe) %></p>
              <br />
              <div class="row center">
                <input class="input" type="text" name="email" id="email" placeholder="<%= t(:email) %> . . ." value=""/>
                <a class="submit btn blue" href="#"><%= t(:submit) %></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="column5">

        <div class="row">
          <div class="column12  red box text-right">
            <div class="body">
              <p><%= t(:desc) %></p>
              <br />
            </div>
          </div>
        </div>

        <div class="row hgutter">
          <div class="column12 box">
            <div class="title green">
              <p><%= t(:special_thanks) %></>
            </div>
            <div class="body">
              <br />
              <div class="row">
                <div class="sponsorlogo">

                  <div class="column4 shift2">
                    <a href="//yellowen.com"><img src="<%= image_path 'yellowen_logo.png' %>" class="yellowen"  alt="Yellowen"></a>
                  </div>
                  <div class="column4">
                    <a href="//karajlug.org"><img src="<%= image_path 'karajlug_logo.png' %>" class="karajlug"  alt="Karajlug"></a>
                  </div>
                </div>

              </div>
              <br />
              <div class="row">
                <span>
                  <a href="#" class="btn gray"><%= t(:become_sponsor) %></a>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br />
  </div>
</section>


<section>
  <div class="footer">
    <div class="container">
      <div class="row">
        <% if @locale == "fa" %>
          <div class="column6 text-left">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          </div>
          <div class="column6 text-right"><%= t(:copyright) %></div>
        <% else %>
          <div class="column6 text-right"><%= t(:copyright) %></div>
          <div class="column6 text-left">s</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
