<section class="section head">
  <header>
    <div class="">

      <div class="row">
        <% if @locale == 'fa' %>
        <div class="column6">
          <nav class="menu text-left">
            <ul>
              <li><a class="js-menu-trigger" href="#"><i class="fa fa-bars fa-lg"></i> </a></li>

            </ul>
          </nav>
        </div>

        <div class="column6  title">
          <h1 class="logo">RadioBoot</h1>
        </div>
        <% else %>
        <div class="column6  title">
          <h1 class="logo">RadioBoot</h1>
        </div>

        <div class="column6">
          <nav class="menu text-left">
            <ul>
              <li><a class="js-menu-trigger" href="#"><i class="fa fa-bars fa-lg"></i> </a></li>
            </ul>
          </nav>
        </div>

        <% end %>
      </div>


      <div class="shift3 column6 bigtitle center">

      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">

          <h1><%= t(:about) %></h1>

      </div>
    </div>
  </header>
</section>

<section class="section content blue">
  <div class="">
    <div class="row content">
      <div class="shift3 column6 center">
        <h1><%= t(:last_episode) %>:  شروع رادیو</h1>
        <h3>شروع رادیو بوت</h3>
        <div class="shift3 column4">
<BR>
        <a href class="btn red"><%= t(:listen_or_download) %></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section content green">
</section>


<section class="section content black">
     <div class="row center">
        <div class="row sponsorboxes">
        <h4 >Please thank our sponsors. Without them this all wouldn’t be possible.</h4>
          <a href="//karajlug.org" class="shift3 column3 box center yellowenbg">
          </a>
          <a href="//yellowen.com" class="column3  box center rubycentralbg">
          </a>
        </div>
        <div class="row center"><br />
          <span class="shift4 column4"><label for="modal-2">
            <div class="btn black"><i class="fa fa-sign-in"></i> Become an sponsor</div>
          </label>
          </span>
        </div>
</section>
<section>
  <div class="footer">
    <div class="container">
      <div class="row">
        <% if @locale == "fa" %>
          <div class="column6 text-left">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          </div>
          <div class="column6 text-right"><%= t(:copyright) %></div>
        <% else %>
          <div class="column6 text-right"><%= t(:copyright) %></div>
          <div class="column6 text-left">s</div>
        <% end %>

      </div>
    </div>
  </div>
</section>
