<section class="gray head section">
  <div class="ui page stackable grid">
    <div class="first row">
    <div class="center aligned column">
      <h1 class="logo">boot</h1>
      <h3><%= t(:about) %></h3>
    </div>
    </div>

    <div class="first row">
      <div class="column">
        <div class="ui three column stackable grid">
          <div class="three wide column"></div>
          <div class="ten wide column">
            <div class="ui action huge fluid input">
              <input type="email" id="email" placeholder="<%= t(:email) %>">
              <div class="ui green icon button"><i class="mail outline icon"></i></div>
            </div>
            <div class="three wide column"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="first row">
      <div class="center aligned column">
        <a data-menuanchor="listen" href="#listen" ><i class="large down icon"></i> </a>
      </div>
    </div>
  </div>
</section>

<section class="blue player section">
          <span class="ui button twitter"><a href="http://twitter.com/radioboot"><i class="fa fa-twitter fa-lg"></i></a></span>
        <span class="ui button gray"><a href="http://github.com/radioboot"><i class="fa fa-lg fa-github"></i></a></span>
        <span class="ui button blue"><a href="http://www.facebook.com/radioboot"><i class="fa fa-lg fa-facebook-square"></i></a></span>
        <span class="ui button red"><a href="https://www.google.com/+radioboot"><i class="fa fa-lg fa-google-plus"></i></a></span>

  <div class="ui page stackable grid">
  </div>
</section>

<section class="dark-blue sponsores section">
     <div class="row center">
        <div class="row sponsorboxes">
        <h4 ><%= t(:thanks_sponsors) %></h4>
        <br/>
          <a href="//yellowen.com" class="shift3 column3 box center yellowenbg">
          </a>
          <a href="//karajlug.org" class="column3  box center karajlugbg">
          </a>
        </div>
        <div class="row center"><br />
          <span class="shift4 column4"><label for="modal-2">
            <div class="ui button black"><i class="fa fa-sign-in"></i> <%= t(:become_sponsor) %></div>
          </label>
          </span>
        </div>
</section>

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <% if @locale == "fa" %>
          <div class="column6 text-left">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          </div>
          <div class="column6 text-right"><%= t(:copyright) %></div>
        <% else %>
          <div class="column6 text-right"><%= t(:copyright) %></div>
          <div class="column6 text-left">s</div>
        <% end %>

      </div>
    </div>
  </div>
</footer>
