<% content_for :header do %>
  <% unless @last_episode.nil? %>
    <meta name="twitter:title" content="<%= @last_episode.title %>">

    <meta name="twitter:url" content="http://www.radioboot.com/episodes/<%= @last_episode.id %>">
    <meta name="twitter:description" content="RadioBoot Episode <%= @last_episode.episode_number %>  about <%= @last_episode.tags.join(",")  %>">
    <meta name="twitter:image:src" content="<%= image_path('logo.png') %>">

    <meta content="RadioBoot.com" property="og:site_name">
    <meta content="<%= @last_episode.title %>" property="og:title">
    <meta content="article" property="og:type">

    <meta content="RadioBoot Episode <%= @last_episode.episode_number %>  about <%= @last_episode.tags.join(",")  %>" property="og:description">

    <meta content="http://www.radioboot.com/episodes/<%= @last_episode.id %>" property="og:url">
    <meta content="<%= @last_episode.published_at %>" property="article:published_time">
    <meta content="http://www.radioboot.com/" property="article:author">
    <meta content="http://www.radioboot.com<%= image_path('logo.png') %>" property="og:image">

    <meta content="<%= @last_episode.tags.join(',') %>" property="article:section">
    <meta content="<%= @last_episode.tags.join(',') %>" property="article:tag">
  <% end %>
<% end %>

<section class="gray head section">
  <div class="ui page stackable grid">
    <div class="first row">
    <div class="center aligned column">
      <h1 class="logo">RadioBoot</h1>
      <h3 class="slug"><%= t(:about) %></h3>
    </div>
    </div>

    <div class="first row">
      <div class="column">
        <div class="ui three column stackable grid">
          <div class="three wide column"></div>
          <div class="ten wide column">
              <div class="ui error message hide" id="already">
                <div class="header">
                  <%= t(:already_exists) %>
                </div>
              </div>
              <div class="ui error message hide" id="failed">
                <div class="header">
                  <%= t(:failed_to_add) %>
                </div>
              </div>
              <div class="ui error message hide" id="not_valid">
                <div class="header">
                  <%= t(:not_valid) %>
                </div>
              </div>

            <div class="ui action huge fluid input">
              <input type="email" id="email" placeholder="<%= t(:enter_email) %>">
              <div class="ui black icon button" id="subscribe"><span><%= t(:subscribe) %></span></div>
            </div>
              <div class="ui success message hide" id="suc">
                <div class="header">
                  <%= t(:congrats) %>
                </div>
              </div>


            <div class="three wide column"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="second row">
      <div class="center aligned column">
        <a class="scroll" href="#listen" ><i class="big down arrow icon"></i> </a>
      </div>
    </div>
  </div>

</section>

<section class="blue player section" id="listen">
  <div class="ui page stackable grid">
    <div class="row">
      <div class="center aligned column">
        <div class="playercontainer">
          <% unless @last_episode.nil? %>
            <h2>#<%= @last_episode.episode_number %> <span><%= @last_episode.title %></span></h2>
            <audio class="audioplayer" src="<%= @last_episode.ogg_url %>" preload="none">
            </audio>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="description">
          <div class="ui two column stackable grid">
            <div class="four wide column">
              <div class="ui vertical pointing menu" id="episode_menu">



                <% unless @last_episode.nil? %>

                  <div class="ui dropdown purple item">
                    <i class="download disk icon"></i> <%= t(:download) %><div class="menu">
                      <a href="<%= @last_episode.mp3_url %>" class="item"><i class="cloud download icon"></i> <%= t(:mp3version) %></a>
                      <a href="<%= @last_episode.ogg_url %>" class="item"><i class="download cloud icon"></i> <%= t(:oggversion) %></a>
                    </div>
                  </div>

                  <div class="ui dropdown purple item">
                    <%= t(:share) %> <i class="heart icon"></i>
                    <div class="menu">
                      <a href="https://twitter.com/intent/tweet?source=Radio_Boot&text=<%= url_encode(@last_episode.title) %>&url=<%= url_encode("http://www.radioboot.com/episodes/#{@last_episode.id}/") %>" class="item"><i class="large twitter icon"></i> <%= t(:twitter) %></a>
                      <a href="http://www.facebook.com/sharer.php?u=<%= url_encode("http://www.radioboot.com/episodes/#{@last_episode.id}/") %>&t=<%= url_encode(@last_episode.title) %>" class="item"><i class="large facebook icon"></i> <%= t(:facebook) %></a>
                      <a href="https://plus.google.com/share?text=<%= url_encode(@last_episode.title) %>&url=<%= url_encode("http://www.radioboot.com/episodes/#{@last_episode.id}/") %>" class="item"><i class="large google plus icon"></i> <%= t(:googleplus) %></a>
                      <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= url_encode("http://www.radioboot.com/episodes/#{@last_episode.id}/") %>&title=<%= url_encode(@last_episode.title) %>&source=<%= url_encode('http://www.radioboot.com') %>" class="item"><i class="large linkedin icon"></i> <%= t(:linkedin) %></a>

                    </div>
                  </div>
                  <div id="auto_rotate" class="item" style="display: none;">
                    <button class="ui small left fluid labeled icon red button"> <i class="refresh icon"></i> <%= t(:auto_rotate) %></button>
                  </div>

                <% end %>
              </div>


            </div>

            <div class="twelve wide column">
              <div class="ui segment titles" id="desc">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="four wide column"></div>
        <div class="twelve wide column">
          <div class="ui segment">

            <div id="disqus_thread"></div>
            <script type="text/javascript">
             /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
             var disqus_shortname = 'radioboot'; // required: replace example with your forum shortname
             var disqus_identifier = '<%= @last_episode.id %>';
             var disqus_title = '<%= @last_episode.title %> ';
             var disqus_url = 'http://www.radioboot.com/episodes/<%= @last_episode.id %>/';

             /* * * DON'T EDIT BELOW THIS LINE * * */
             (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>





          </div>
        </div>
    </div>


  </div>
</section>

<section class="dark-blue sponsores section">
  <div class="ui page stackable grid middle">
    <div class="row">
      <div class="center aligned column">
        <h4 ><%= t(:thanks_sponsors) %></h4>
      </div>

     </div>
     <div class="row">
       <div class="column">

         <div class="ui four column stackable grid">
           <div class="three wide column"></div>

           <div class="five wide center aligned column">
             <a href="//yellowen.com">
               <img src="<%= image_path('yellowen_logo.png') %>" class="opacity_link yellowen" />
             </a>
           </div>

           <div class="five wide center aligned column">
             <a href="//karajlug.org">
               <img src="<%= image_path('karajlug_logo.png') %>" class="opacity_link karajlug" />
             </a>
           </div>
           <div class="three wide column"></div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="center aligned column">
         <div class="ui left labeled icon button big black" data-modal='.ui.modal'><i class="dollar icon"></i> <%= t(:become_sponsor) %></div>
       </div>
     </div>
  </div>
</section>


<% content_for :tmp do %>
  <script>
  <% unless @last_episode.nil? %>
    <% require 'json' %>
   var JSON_DETAILS = <%= JSON.generate(@last_episode.details) %>;
   <% else %>
   var JSON_DETAILS = undefined;
  <% end %>
   prepare_details();
  </script>
<% end %>


<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t(:become_sponsor) %>
  </div>
  <div class="content">
    <%= t(:sponsor_desc_html) %>
  </div>
</div>
