<section class="gray head section">
  <div class="ui page stackable grid">
    <div class="first row">
    <div class="center aligned column">
      <h1 class="logo">boot</h1>
      <h3 class="slug"><%= t(:about) %></h3>
    </div>
    </div>

    <div class="first row">
      <div class="column">
        <div class="ui three column stackable grid">
          <div class="three wide column"></div>
          <div class="ten wide column">
            <div class="ui action huge fluid input">
              <input type="email" id="email" placeholder="<%= t(:enter_email) %>">
            <div class="ui black icon button"><%= t(:subscribe) %></div>
            </div>


            <div class="three wide column"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="first row">
      <div class="center aligned column">
        <a class="scroll" href="#listen" ><i class="big down arrow icon"></i> </a>
      </div>
    </div>
  </div>
</section>

<section class="blue player section">
  <div class="ui page stackable grid">

  </div>
</section>

<section class="dark-blue sponsores section">
  <div class="ui page stackable grid middle">
     <div class="row">
       <div class="center aligned column">
         <h4 ><%= t(:thanks_sponsors) %></h4>
       </div>

     </div>
     <div class="row">
       <div class="column">

         <div class="ui four column stackable grid">
           <div class="three wide column"></div>

           <div class="five wide center aligned column">
             <a href="//yellowen.com">
               <img src="<%= image_path('yellowen_logo.png') %>" class="opacity_link" />
             </a>
           </div>

           <div class="five wide center aligned column">
             <a href="//karajlug.org">
               <img src="<%= image_path('karajlug_logo.png') %>" class="opacity_link" />
             </a>
           </div>
           <div class="three wide column"></div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="center aligned column">
         <div class="ui left labeled icon button big black"><i class="dollar icon"></i> <%= t(:become_sponsor) %></div>
       </div>
     </div>
  </div>
</section>
