<!DOCTYPE html>
<html lang="<%= @locale %>" dir="<%= @locale == 'fa' ? "rtl" : "ltr" %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="<%= image_path 'fav.png' %>" />
    <meta name="description" content="Radio Boot, A podcast for Free software lovers">
    <link rel="author" href="https://www.google.com/+RadioBoot"/>

    <%= stylesheet_tag 'application_rtl' if @locale == "fa" %>
    <%= stylesheet_tag 'application_ltr' if @locale == "en" %>
    <%= javascript_tag 'application', :expand => true %>

  </head>
  <body>


    <div class="ui gray computer only fixed inverted menu">
      <div class="ui page grid">
        <h1 class="item"><%= t(:radio_boot) %></h1>
        <div class="right menu">

          <a href="#listen" class="item"><%= t(:last_episode) %></a>
          <a href="#listen" class="item"><%= t(:archive) %></a>
          <a href="#listen" class="item"><%= t(:faq) %></a>

          <div class="ui dropdown item">
            <%= t(:follow_us) %> <i class="dropdown icon"></i>
            <div class="gray menu">
              <a class="item" href="http://twitter.com/radioboot"><i class="fa fa-twitter fa-lg"></i> <%= t(:twitter) %></a>
              <a class="item" href="http://www.facebook.com/radioboot"><i class="fa fa-lg fa-facebook-square"></i> <%= t(:facebook) %></a>
              <a class="item" href="https://www.google.com/+radioboot"><i class="fa fa-lg fa-google-plus"></i> <%= t(:googleplus) %></a>
            </div>
          </div>
          <div class="item">

            <a href="#listen" class="item ui blue button"><%= t(:lang) %></a>
          </div>

        </div>
      </div>
    </div>


    <%= yield %>


    <script>
      $(".ui.dropdown").dropdown();
      //$(".ui.computer.sidebar").sidebar('attach events', '.toggle.button.computer');
      $(".ui.sidebar").sidebar({overlay: true}).sidebar('attach events', '.toggle.button.mobile');

    </script>


    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
     var sc_project=9849607;
     var sc_invisible=1;
     var sc_security="6bc69783";
     var scJsHost = (("https:" == document.location.protocol) ?
                      "https://secure." : "http://www.");
     document.write("<sc"+"ript type='text/javascript' src='" +
                    scJsHost+
                    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="click tracking"
                                          href="http://statcounter.com/" target="_blank"><img
      class="statcounter"
      src="http://c.statcounter.com/9849607/0/6bc69783/1/"
      alt="click tracking"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
